			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<ul data-role="listview" data-inset="false">
					<li><a href="index.html" data-ajax='false' data-icon="false">Inicio</a></li>
					<li><a href="new_form.html" data-ajax='false' data-icon="false">Nuevo Artículo</a></li>
				</ul>
				<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
					<h3>Busqueda</h3>
					<ul data-role="listview" data-icon="false">
						<li><a href="examples/extended/tabs.html" data-ajax='false'>Ver Cercanos</a></li>
						<li><a href="examples/extended/cards.html" data-ajax='false'>Ver Urgentes</a></li>
						<li><a href="examples/extended/search.html" data-ajax='false'>Filtar</a></li>
					</ul>
				</div>
			</div>
			<!-- /panel left -->
